<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation=
       "http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/data/mongo
        http://www.springframework.org/schema/data/mongo/spring-mongo-1.8.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task-4.3.xsd
        http://www.springframework.org/schema/context
	    http://www.springframework.org/schema/context/spring-context-2.5.xsd"
        >

<!--     <bean id="placeholderConfig" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="/WEB-INF/red5-web.properties" />
    </bean>

    <bean id="idDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName"><value>${db.driver}</value></property>
        <property name="url"><value>${db.url}</value></property>
        <property name="username"><value>${db.username}</value></property>
        <property name="password"><value>${db.password}</value></property>
        <property name="poolPreparedStatements"><value>true</value></property>
        <property name="maxActive"><value>10</value></property>
        <property name="maxIdle"><value>10</value></property>
     </bean> -->
     
     <bean name="downloadService" class="com.webapp.service.DownloadService"/>
     
     <mongo:mongo host="localhost" port="27017"/>
     
     <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
    	<constructor-arg ref="mongo" />
    	<constructor-arg value="webapp" />
  	</bean>

    <mongo:repositories base-package="com.webapp.service.repository" />
    
    <bean name="convertService" class="com.webapp.service.ConvertService"/>
    
    <bean name="cleanupService" class="com.webapp.service.CleanupService"/>
     
	<task:scheduled-tasks scheduler="myScheduler">
    	<task:scheduled ref="convertService" method="runConversionRound" fixed-delay="10000"/>
	</task:scheduled-tasks>
	
    <task:scheduled-tasks scheduler="myScheduler1">
    	<task:scheduled ref="downloadService" method="checkFinishedDownloads" fixed-delay="5000"/>
	</task:scheduled-tasks>
	
	<task:scheduled-tasks scheduler="myScheduler2">
    	<task:scheduled ref="cleanupService" method="runCleanupRound" fixed-delay="86400000"/>
	</task:scheduled-tasks>

	<task:scheduler id="myScheduler" pool-size="4"/>
	<task:scheduler id="myScheduler1" pool-size="1"/>
	<task:scheduler id="myScheduler2" pool-size="1"/>

	<context:component-scan base-package="com.webapp.service" />
</beans>
